<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="m501" 
		class="testSpring.impl.robot.Model501">
		<constructor-arg ref="sonyHand"/>
		<constructor-arg ref="sonyHead"/>
		<constructor-arg ref="sonyLeg"/>
	</bean>
	
	
	<bean id="sonyHand" class="testSpring.impl.sony.SonyHand"></bean>
	<bean id="sonyHead" class="testSpring.impl.sony.SonyHead"></bean>
	<bean id="sonyLeg" class="testSpring.impl.sony.SonyLeg"></bean>
	<bean id="toshHand" class="testSpring.impl.tosh.ToshHand"></bean>
	<bean id="toshHead" class="testSpring.impl.tosh.ToshHead"></bean>
	<bean id="toshLeg" class="testSpring.impl.tosh.ToshHand"></bean>
</beans>
