# Windows Installer files
D:\Hotj\WebJava\WebJava\Selenium_06\.idea\
D:\Hotj\WebJava\WebJava\Selenium_05\.idea\
D:\Hotj\WebJava\WebJava\Selenium_04\.idea\
D:\Hotj\WebJava\WebJava\Selenium_03\.idea\

# OSX
.DS_Store
.AppleDouble
.LSOverride

